@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background: #0f0f1a;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease, transform 0.3s ease;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    z-index: 1000;
}

.sidebar.collapsed {
    width: 70px;
}

.toggle-btn {
    width: 100%;
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

.logo {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 1px solid #ffffff22;
    white-space: nowrap;
    overflow: hidden;
    transition: font-size 0.3s ease;
}

/* Cambiar el tamaño del título cuando está colapsado */
.sidebar.collapsed .logo {
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

nav ul li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s ease;
    white-space: nowrap;
    margin: 15px 0;
}

nav ul li a:hover {
    background: #ffffff11;
}

nav ul li a span {
    margin-left: 15px;
    font-size: 16px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed nav ul li a span {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: none;
}

nav ul li a svg {
    font-size: 22px;
    transition: font-size 0.3s ease;
}


.separator {
    height: 1px;
    background: #ffffff22;
    margin: 10px 0;
}

@media (max-width: 768px) {
    
    .toggle-btn {
        right: 15px;
        top: 15px;
        font-size: 18px;
    }
    .logo {
        font-size: 18px;
        padding: 5px;
    }

    nav ul li a {
        padding: 15px;
    }

    nav ul li a span {
        font-size: 16px;
    }

    .sidebar.collapsed .toggle-btn {
        right: 15px;
    }
}
