/* Fuente personalizada */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Playfair+Display:wght@400&display=swap');

body.dark-mode {
    background-color: #222;
    color: #f8f8f8;
}

body {
    background-color: #EBEBEB;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: #EBEBEB; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
}

/* Estilos para el modo oscuro */
.dark-mode header {
    background-color: #222; /* Fondo oscuro */
    color: #f8f8f8; /* Color del texto en modo oscuro */
}

/* Estilos para los elementos activos */
.nav-item.active {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #222; 
}

.dark-mode .nav-item.active {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #f8f8f8; 
}

.nav-item a {
    color: inherit;
}


.dark-mode .nav-item a {
    color: #f8f8f8;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    margin-top: 15px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.nav-item {
    font-family: 'Nunito', serif;
    margin: 10px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    color: #333;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.logo-container {
    text-align: center;
}

.company-link {
    text-decoration: none;
}

.company-name {
    font-family: 'Lora', serif;
    font-size: 32px;
    font-weight: 700;
    color: #333333;
}

.dark-mode .company-name {
    color: #f8f8f8;
}

.icon {
    font-size: 24px;
    color: #333; /* Color por defecto */
}

.dark-mode .icon {
    color: #f8f8f8; /* Cambia los iconos a blanco en modo oscuro */
}

/* Responsive Styles */
@media (max-width: 900px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu.open {
        display: flex;
    }

    .nav-item {
        margin: 15px 0;
    }

    .logo-container {
        margin: 10px 0;
    }

    .company-name {
        font-size: 20px;
    }
}

/* Estilo general para nav-item */
.nav-item {
    font-family: 'Nunito', serif;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    background: none;
    border: none;
    text-decoration: none;
    font-weight: 900;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

/* Estilo para cuando el elemento está activo */
.nav-item.active {
    background-color: rgba(48, 11, 11, 0.2); 
    color: blue; 

}
.dark-mode .nav-item.active {
    background-color: rgba(255, 255, 255, 0.8);
    color: #222; 
}
/* Estilo para los enlaces en modo claro */
.nav-item a {
    text-decoration: none;
    color: inherit; /* Hereda el color del elemento padre */
}

/* Estilo para los enlaces en modo oscuro */
.dark-mode .nav-item a {
    color: #000; /* Color de texto en modo oscuro */
}

/* Estilo al pasar el mouse */
.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Fondo al pasar el mouse */
    color: #222; /* Color de texto al pasar el mouse */
}

.dark-mode .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo al pasar el mouse en modo oscuro */
    color: #f8f8f8; /* Color de texto al pasar el mouse en modo oscuro */
}
